<a href="https://colab.research.google.com/github/dreg601/Dima_Zhalnin/blob/main/%D0%A2%D0%B5%D1%81%D1%82_%D0%A2%D0%B0%D1%82%D0%98%D1%82%D0%9D%D0%B5%D1%84%D1%82%D1%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Подключаю основные библиотеки, которые обычно использую для работы.

In [14]:
import pandas as pd
import io
import matplotlib.pyplot as plt
import numpy as np 
%matplotlib inline
import seaborn as sns
import scipy as sp

Создаю датафреймы и объединяю их.

In [10]:
fuel= pd.read_excel('тест.xlsx', sheet_name='fuel')
types= pd.read_excel('тест.xlsx', sheet_name='fuel_types')
fuel_types = fuel.merge(types, left_on = 'FL_PROD_COD', right_on = 'prod_code')

In [9]:
fuel_types

,FL_SMAZS,FL_EVEDATE,FL_EVETIME,FL_PROD_COD,FL_PAY,FL_VOLUME,prod_code,prode_name
0,0-2-50-1000-143,2022-12-27 00:00:00+00,09:36:28,92,0-2-50-1000-25000,25.00,92,АИ-92 Танеко
1,0-2-50-1000-143,2022-12-27 00:00:00+00,09:38:39,92,0-2-50-1000-24206,20.00,92,АИ-92 Танеко
2,0-2-50-1000-143,2022-12-27 00:00:00+00,09:40:31,92,0-2-50-1000-20006,22.69,92,АИ-92 Танеко
3,0-2-50-1000-143,2022-12-27 00:00:00+00,09:42:56,92,0-2-50-1000-24206,34.02,92,АИ-92 Танеко
4,0-2-50-1000-143,2022-12-27 00:00:00+00,09:43:58,92,0-2-50-1000-24206,22.68,92,АИ-92 Танеко
...,...,...,...,...,...,...,...,...
9994,0-2-50-1000-569,2022-12-27 00:00:00+00,12:17:57,60,0-2-50-1000-24000,60.00,60,AdBlue
9995,0-2-50-1000-569,2022-12-27 00:00:00+00,12:23:46,60,0-2-50-1000-25000,50.00,60,AdBlue
9996,0-2-50-1000-569,2022-12-27 00:00:00+00,16:28:41,60,0-2-50-1000-24200,30.00,60,AdBlue
9997,0-2-50-1000-569,2022-12-27 00:00:00+00,16:56:44,60,0-2-50-1000-25000,60.00,60,AdBlue
9998,0-2-50-1000-569,2022-12-27 00:00:00+00,17:16:32,60,0-2-50-1000-25000,80.00,60,AdBlue

Задание 1: Вывести среднесуточный пролив по каждой АЗС.

In [37]:
fuel_types.FL_EVEDATE.unique()

array(['2022-12-27 00:00:00+00'], dtype=object)

В данном случае, у нас одна дата. Значит, считаем среднее по всему датафрейму с группировкой только по АЗС.

In [35]:
fuel_types.groupby(['FL_SMAZS']).FL_VOLUME.mean().reset_index()

            FL_SMAZS   FL_VOLUME
0     0-1-116-1000-2   39.205600
1    0-1-12-1000-210   50.432154
2    0-1-12-1000-490   20.073225
3    0-1-12-1000-528   32.719687
4   0-1-174-1000-122   92.125700
5   0-1-174-1000-596  161.692929
6    0-1-21-1000-226  175.867702
7    0-1-21-1000-377   31.161373
8    0-1-21-1000-477   21.556462
9     0-1-21-1021-54   35.955000
10    0-1-21-1021-57   25.766176
11  0-1-216-1000-507   33.077071
12  0-1-216-1000-514   34.728939
13   0-1-316-1316-42   28.241628
14  0-1-416-1000-114   17.615590
15   0-1-63-1000-643   30.187051
16   0-1-73-1000-187   42.190332
17   0-2-29-1000-313   30.122674
18   0-2-29-1000-553   33.060372
19   0-2-34-1000-410   25.145635
20   0-2-50-1000-143   25.175552
21   0-2-50-1000-347   46.285745
22   0-2-50-1000-497  123.230137
23   0-2-50-1000-569  169.476800
24    0-2-50-1000-96   33.682621
25   0-2-77-1000-168   78.204943
26   0-2-77-1000-291   68.475625
27   0-2-77-1000-603   34.897332

Задание 2: Вывести объем топлива в разрезе типа топлива отсортированый от большего к меньшему

In [47]:
fuel_types.groupby(['prode_name']).FL_VOLUME.sum().reset_index().sort_values('FL_VOLUME', ascending=False)

     prode_name  FL_VOLUME
6            ДТ  237020.19
2  АИ-92 Танеко   98346.49
7     ДТ Танеко   93681.06
3         АИ-95   77576.38
5           Газ   24051.99
1         АИ-92    4690.39
4         АИ-98    1139.06
0        AdBlue     595.61

Задание 3: Вывести процент каждого вида топлива от общего числа по каждой АЗС

In [62]:
fuel_types['FL_PERCENT'] = fuel_types['FL_VOLUME'] / fuel_types.groupby(['FL_SMAZS']).FL_VOLUME.transform('sum')
fuel_types.groupby(['FL_SMAZS', 'prode_name']).FL_PERCENT.sum().reset_index()

            FL_SMAZS    prode_name  FL_PERCENT
0     0-1-116-1000-2  АИ-92 Танеко    0.302824
1     0-1-116-1000-2         АИ-95    0.079234
2     0-1-116-1000-2            ДТ    0.346716
3     0-1-116-1000-2     ДТ Танеко    0.271227
4    0-1-12-1000-210  АИ-92 Танеко    0.142894
..               ...           ...         ...
112  0-2-77-1000-291            ДТ    0.686681
113  0-2-77-1000-291     ДТ Танеко    0.007872
114  0-2-77-1000-603  АИ-92 Танеко    0.258812
115  0-2-77-1000-603         АИ-95    0.370746
116  0-2-77-1000-603            ДТ    0.370442

[117 rows x 3 columns]

Задание 4: Вычеслить кол-во операций по каждому часу и  коду оплаты

In [73]:
fuel_types['HOUR'] = fuel_types['FL_EVETIME'].str.slice(stop=2)

In [76]:
fuel_types.groupby('HOUR').FL_PAY.count().reset_index()

   HOUR  FL_PAY
0    00     116
1    01      69
2    02      35
3    03      50
4    04      80
5    05     110
6    06     240
7    07     450
8    08     614
9    09     603
10   10     670
11   11     641
12   12     634
13   13     655
14   14     690
15   15     603
16   16     651
17   17     665
18   18     597
19   19     576
20   20     510
21   21     363
22   22     227
23   23     150

Задание 5: Что можно сделать для ускорения обработки данных, не изменяя структуры таблицы?

Видимо, это вопрос про оптимизацию запросов.
1. Не использовать "*", а указывать конкретные столбцы (даже если нужна таблица целиком).
2. Фильтровать выборки условием where максимально сильно.
3. Использовть подзапросы по минимуму.
4. Создавать временные таблицы, если нужно несколько раз обращаться к конкретным данным.
5. Join тоже можно оптимизировать.
6. Стараться не использовать операторы по типу: like, in.

Еще есть индексы и процедуры, но с ними я знаком слабо. Я работал с HQL, а в нем пользовательские запросы почти не оптимизируются. Партицирование таблиц наше все!